@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.brand-logo img{
    padding: 20px 23px;
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    height: 82px;
    background-color: #ffbe82;
    align-items: center;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    display: flex;
    color: #a74417  ;
    gap: 23px;
}

.navbar-right{
    display: flex;
    gap:52px;
}

.nav-right-style{
    width: 38px;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 52px;
    gap: 8px;
}